
#containerEvent
{height:250px; position:relative; overflow:auto;}
#containerEvent:hover .photobanner
{animation-play-state:paused;}  
  .photobanner {
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 10s linear infinite;
  }
  
  .photobanner img {    
    margin: 0 0.5em 
  }
  
  @keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  }









  .containerNew {
    overflow: hidden;
  }
  
  .sliding-background {
    background: url("../../img/bg-img/test.jpg") repeat-x;
    height: 560px;
    width: 5076px;
    animation: slide 60s linear infinite;
  }
  
  @keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-2880px, 0, 0);
    }
  }